@model List<MisionTIC.Models.viewModels.Autors>
@{
    ViewBag.Title = "Lista Autores";
}

<h2>@ViewBag.Tittle</h2>
<div class="container" style="margin-top: 3%;">
    <!--Agregar-->
    <h1><i class="bi bi-person-circle"></i> Autores</h1>
    <hr>
    <div class="row">
        <!-- Button trigger modal -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn  btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-person-plus"></i>  Agregar Autor
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Agregar Autor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="NombreAutor" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="NombreAutor">
                            </div>
                            <div class="mb-3">
                                <label for="NacionalidadAutor" class="form-label">Nacionalidad</label>
                                <input type="text" class="form-control" id="NacionalidadAutor">
                            </div>
                            <div class="mb-3">
                                <label for="FechaNacimientoAutor" class="form-label">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="FechaNacimientoAutor">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Tabla-->
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Nacionalidad</th>
                    <th>Fecha de Nacimiento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Elemento in Model)
                {
                    <tr>
                        <td>@Elemento.Id</td>
                        <td>@Elemento.Nombre</td>
                        <td>@Elemento.Nacionalidad</td>
                        <td>@Elemento.FechaNacimiento</td>
                        <td>
                            <button class="btn btn-outline-warning" type="button"><i class="bi bi-pencil"></i> Editar</button>
                            <button class="btn btn-outline-danger" type="button"><i class="bi bi-trash"></i> Eliminar</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>