@model IEnumerable<MisionTIC.Models.Copia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro.TipoLibro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.NombreLibro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCopia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCopia })
        </td>
    </tr>
}

</table>
